cmake
fairscale>=0.4.4
git+https://github.com/WASasquatch/img2texture.git
gitpython
imageio
joblib
matplotlib
numba
numpy
opencv-python-headless[ffmpeg]
pilgram
git+https://github.com/WASasquatch/ffmpy.git
rembg
scikit-image==0.22.0
scikit-learn
scipy
timm>=0.4.12
tqdm
transformers>=4.25.1
